In [28]:
# Dependencies
import os
import pandas as pd

#load file
pymoli_data = os.path.join(r"/Users/Munit/Desktop/pandas-HW/pandas-challenge/Resources/purchase_data.csv")

In [29]:
#read file & store in pandas data frame
pymoli_df=pd.read_csv(pymoli_data)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [70]:
players= pymoli_df["SN"]
players.value_counts()

total_players=["576"] #???
total_players_df = pd.DataFrame(total_players, columns= ["Total Players"])
total_players_df

   Total Players
0            576

In [33]:
unique_items = pymoli_df["Item ID"]
unique_items.nunique()

179

In [44]:
average_price = pymoli_df["Price"].mean()
pymoli_df["Price"].round(decimals=2) #how to round to two decimals
print(average_price)

3.050987179487176

In [50]:
total_purchase = pymoli_df["Purchase ID"]
total_purchase.count

<bound method Series.count of 0        0
1        1
2        2
3        3
4        4
      ...
775    775
776    776
777    777
778    778
779    779
Name: Purchase ID, Length: 780, dtype: int64>

In [51]:
total_revenue=pymoli_df["Price"]
total_revenue.sum()

2379.77

In [55]:
#Create Purchasing Analysis Table

In [65]:
gender = pymoli_df["Gender"]
gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [74]:
#Gender Demographics
#gender_demo = pymoli_df.groupby(["Gender"])
#print(gender_demo)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe9648b2f10>

In [ ]:
#Purchasing Analysis (Gender)